@import "../../../../../styles/modules/variables";

.occupation {
  .card-option {
    mat-icon {
      color: $color-green-100;
    }

    strong {
      color: $color-green-100;
    }

    &:hover,
    &:active,
    &.selected {
      background: $color-dark;

      div {
        color: white;
      }
    }
  }
}
