<div class="add-accounts">
  <app-topbar
    title="Recaudo"
  ></app-topbar>

  <div class="has-padding-20 is-relative">
    <app-intersitial *ngIf="loading"></app-intersitial>


    <div class="has-margin-top-30 text-center" >
       
      <h1 class="heading-1 mb-medium">Selecciona la cuenta para realizar el recaudo</h1>
      <p>
        Escoge una de tus cuentas para realizar el recaudo del crédito
      </p>
      <div *ngIf="objDatosCuentas">
              <div class="has-margin-top-30" *ngFor="let item of objDatosCuentas"> 
       <div class="card card-option has-margin-top-10 has-margin-bottom-10 has-padding-10 flex-row align-items-center" [ngClass]="selected == item.IdDatoCuenta ? 'selected' : null" (click)="selected = item.IdDatoCuenta">
         <mat-icon>person_outline</mat-icon>
         <div class="flex-column has-margin-left-20">
           <strong>{{item.Entidad}} - **** {{getNumber(item.NumeroCuenta)}} </strong>
           <div>{{item.TipoCuenta}}</div>
         </div>
       </div>
      </div>

        <!-- <div class="card card-option has-margin-top-10 has-margin-bottom-10 has-padding-10 flex-row align-items-center" [ngClass]="selected == 'davivienda-0540' ? 'selected' : null" (click)="selected = 'davivienda-0540'">
          <mat-icon>person_outline</mat-icon>
          <div class="flex-column has-margin-left-20">
            <strong>{{data?.AccountBank}} - **** {{data?.AccountNumber}}</strong>
            <div>Cuenta de Ahorros</div>
          </div>
        </div>
       <div class="card card-option has-margin-top-10 has-margin-bottom-10 has-padding-10 flex-row align-items-center" [ngClass]="selected == 'bancolombia-0480' ? 'selected' : null" (click)="selected = 'bancolombia-0480'">
         <mat-icon>person_outline</mat-icon>
         <div class="flex-column has-margin-left-20">
           <strong>Bancolombia - **** 0480</strong>
           <div>Cuenta Corriente</div>
         </div>
       </div> -->
 
      </div>
    </div>

    <div class="text-center has-margin-top-30">
      <button class="btn btn-success" (click)="continue()" [disabled]="!addAccountForm.valid || !selected">CONTINUAR</button>
      <br /><br />
      <button class="btn btn-outline-success" (click)="skip()">SALTAR ESTE PASO</button>
    </div>
  </div>
</div>
