<div class="finish-flow">
    <app-topbar title="Datos adicionales"></app-topbar>
    <div class="content is-relative">
      <h1 class="heading-1 mb-big">Usuario rechazado </h1>
      <img src="assets/images/funnel/rejected-id.png" alt="" class="message-icon-wide mb-big">
      <p class="notification-text mb-big text-black">
        <b>Este cliente fue rechazado por megabase</b>
      </p>
      <div class="text-center">
        <!-- <button class="btn btn-success has-margin-top-20 mx-auto btn-block"  (click)="sendVerificar()">REINTENTAR FIRMA</button> <br><br> -->
        <button class="btn btn-success has-margin-top-20 mx-auto btn-block" routerLink="/funnel/initial-query"
           >TERMINAR PROCESO</button>
      </div>
    </div>
  </div>