<div class="finish-flow">
  <app-topbar title="Datos adicionales"></app-topbar>
  <div class="content is-relative">
    <h1 class="heading-1 mb-big">¡Crédito otorgado!</h1>
    <img src="assets/images/funnel/credit-approved.png" alt="" class="message-icon-wide mb-big">
    <p class="notification-text mb-big text-black">
      <b>El cliente ha firmado el pagaré y los documentos de crédito y éste ha sido otorgado con el número: </b><br>
      <b>N {{creditNumber}} </b>
    </p>
    <div class="text-center">
      <button class="btn btn-success has-margin-top-20 mx-auto btn-block" routerLink="/funnel/initial-query"
        [queryParams]="{message: 'El proceso ha sido finalizado por el usuario'}">TERMINAR PROCESO</button>
    </div>
  </div>
</div>