<div class="birthdate">
  <app-topbar
    title="Información adicional"
  ></app-topbar>

  <div class="has-padding-20 is-relative">
    <app-intersitial *ngIf="loading"></app-intersitial>
    <h4>Lugar y fecha de nacimiento</h4>
    <p>
      Solicitud disponible solo para personas en Colombia
    </p>

    <div [style.height]="'auto'">
      <form [formGroup]="dataForm" (submit)="sendData()" class="has-margin-top-30">
        <div>
          <mat-form-field class="is-full-width">
            <mat-label>Ciudad*</mat-label>
            <input matInput autocomplete="off" maxlength="20"
                   formControlName="Ciudad" placeholder="Bogotá" type="text" value="" mask="S*">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="is-full-width">
            <mat-label>Fecha de nacimiento*</mat-label>
            <input matInput autocomplete="off" maxlength="10"
                   formControlName="FechaNacimiento" placeholder="DD/MM/AAAA" type="text" value="" mask="00/00/0000">
          </mat-form-field>
        </div>

        <div class="has-margin-top-20 text-center">
          <button class="btn btn-success has-margin-auto" type="submit" [disabled]="!dataForm.valid">Continuar</button>
        </div>
      </form>
    </div>
  </div>
</div>
