<div class="email-confirm">
  <app-topbar
    [hideMenuAtion]="true"
    title="confirmar email"
  ></app-topbar>

  <div class="has-padding-20 text-center">
    <app-intersitial *ngIf="loading"></app-intersitial>
    <h1 class="heading-1 mb-medium">Firma de Pagaré</h1>
    <br>
    <img src="assets/images/funnel/phone.png" alt="send email" class="img-phone">
    <p>
      Hemos enviado un mensaje al whatsapp del cliente.
    </p>
    <p>
      <small>  <strong class="text-green-100">Puedes verificar si ya fue confirmado</strong></small>
    </p>
    <div class="has-margin-top-30">
      <button class="btn btn-success"  (click)="sendVerificar()">VERIFICAR</button>
      <br><br>
      <button class="btn btn-success"  routerLink="/funnel/initial-query">CANCELAR</button>
    </div>
  </div>
</div>