<div>
  <section class="app-header">
    <div class="app-header__logo">
      <img src="assets/images/funnel/logo-epik-login.png" class="logo-epik">
    </div>
    <div class="app-header__logo">
      <img src="assets/images/funnel/header-separator.png" class="header-separator">
    </div>
    <div class="app-header__logo">
      <img src="assets/images/funnel/logo-boconcept-header.png" class="logo-bo">
    </div>
  </section>
<!--  <mat-toolbar class="flex-row align-items-center justify-space-between">-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goBack()" *ngIf="!hideMenuAtion">-->
<!--      <mat-icon>west</mat-icon>-->
<!--    </button>-->
<!--    <h5>{{title}}</h5>-->
<!--    <span class="example-spacer"></span>-->
<!--&lt;!&ndash;    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-icon>favorite</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--    <button mat-icon-button class="example-icon is-relative" aria-label="Salida segura" style="top: -3px;" *ngIf="!hideLogout" (click)="logout()">-->
<!--      <mat-icon>logout</mat-icon>-->
<!--    </button>-->
<!--  </mat-toolbar>-->
</div>
