<div style="text-align:center">
    <div>
      <webcam [height]="500" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
       [allowCameraSwitch]="allowCameraSwitch" [imageQuality]="1" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
       (initError)="handleInitError($event)"></webcam>
      <br/>

      
      <button  class="btn btn-success btn-block no-margin button-camera" (click)="triggerSnapshot();"   >CAPTURAR
          <i class="material-icons">
              camera
          </i>
        </button>
        <br>
        <button  class="btn btn-success btn-block no-margin button-camera-cancel" (click)="emitCancel();"   >CANCELAR </button>
      <!-- <div class="actionBtn"  title="Tomar Foto">📸</div>
      <div class="actionBtn" (click)="showNextWebcam(true);" title="Cambiar Camara">🔁</div> -->
    </div>
  </div>
  
  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>