<div class="auth-data">
  <app-topbar
    [hideMenuAtion]="true"
    title="Autorizaciones"
  ></app-topbar>

  <div class="content is-relative">
    <app-intersitial *ngIf="loading"></app-intersitial>

    <h1 class="heading-1 text-medim mb-big">Validación de documento<br>de identidad del cliente</h1>

    <img src="assets/images/funnel/user-id.png" alt="valid-id" class="message-icon-wide mb-big">

    <div class="sub-container mb-big">
      <h2 class="heading-2 mb-big">
        Recomendaciones:
      </h2>

      <ul class="list">
        <li class="list__item mb-small">
          <p class="label list__item-content">
            <span class="list__item-content--text">Ubicar el frente del documento frente a la cámara.</span>
          </p>
        </li>
        <li class="list__item mb-small">
          <p class="label list__item-content">
            <span class="list__item-content--text">Ubica el documento en una superficie plana.</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="text-center">
      <button *ngIf="!loading" class="btn btn-success has-margin-auto btn-block" type="submit" routerLink="/funnel/dni-detector" [queryParams]="{side: 'placeholder'}">TOMAR FOTO</button>
      <button *ngIf="loading" class="btn btn-success has-margin-auto btn-block" type="submit" disabled>GUARDANDO...</button>
      <br />
      <br />
      <button class="btn btn-outline-success has-margin-top-20 mx-auto btn-block" routerLink="/funnel/finish-flow" [queryParams]="{message: 'El proceso ha sido finalizado por el usuario'}">CANCELAR</button>
    </div>

  </div>
</div>
